*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(204, 234, 252);
}
.portfolio{
    display: grid;
    grid-template-areas: 'profile profile  info info info info  info ';
    gap: 20px;
    margin: 10px 50px;
    position: relative;

}


/* Profile */
.profile{
    grid-area: profile;
    /* background-color: yellow; */
    /* text-align: center; */
   
    
   
}

.profile .details{
    background-color: white;
    margin-top: 100px;
   padding: 30px 10px;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.details img{
    margin-top: -100px;
}

.profile .links{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
   
}

.profile .links i{
    font-size: 26px;
    padding: 10px;
    background-color:rgb(204, 234, 252) ;
    border-radius: 16px;
    color: white;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.links i:hover{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.contact{
     margin: 20px;
    background-color: rgb(235, 242, 248);
    padding: 5px 30px;
    border-radius: 16px;
}

.contact hr{
    color: blue;
}

.profile .contact i{
  font-size: 16px;
  color: #0093E9;
  margin: 0 auto;
}




.info{
    grid-area: info;
    background-color: white;
    text-align: left;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 22px;
}


